{{>header}}
<div class="container">
    {{GuardarCurso Idcurso Nomcurso Valorcurso Descripcioncurso modalidadCurso Intensidadcurso}}
    <h1>{{mensaje}}</h1>
    <br>
    <hr>
    <h1>Cursos guardados</h1>
    <hr>
    <br>
    {{{listar}}}

</div>


{{>footer}}